#root {
  background-color: #FFFFFF;
  --main-font-color: #21243D; 
  font-family: 'Heebo', sans-serif;
  height: 100vh;
  overflow: auto;
}

@media screen and (max-width: 480px){
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

  }

  #apresentation {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .apresentationImage {
    height: 286px;
    width: 320px;
    border-radius: 100%;
  }

  .apresentationDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .apresentationTitle {
    font-size: 40px;
    text-align: center;
    width: 312px;
    color: var(--main-font-color);
    font-weight: 700;
    margin: 21px 31px;
  }

  .apresentationParagraph {
    color: var(--main-font-color);
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    width: 328px;
    margin: 0 23px 15px;

  }

  .apresentationButton {
    height: 47px;
    width: 208px;
    border: none;
    border-radius: 2px;
    background-color: #FF6464;
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
  }

  .socialButtons {
    margin: 0 10px 10px 0;
  }
  
  #projects {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #EDF7FA;
    border-radius: 25px;
    align-items: center;
    height: 760px;
    font-size: 25px;
  }

  .projectsCards {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #footer {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  
  }  

}

@media screen and ( min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  #apresentation {
    padding: 5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
  }
  
  .apresentationTitle {
    font-size: 44px;
    width: 508px;
    font-weight: 700;
    color: var(--main-font-color);
  }
  
  .apresentationParagraph {
    color: var(--main-font-color);
    font-size: 16px;
    width: 497px;
    font-weight: 400;
  }
  
  .apresentationImage {
    height: 386px;
    width: 420px;
    border-radius: 100%;
    margin-right: 200px;
  }
  
  .apresentationButton {
    margin-top: 10px;
    height: 47px;
    width: 208px;
    border: none;
    border-radius: 2px;
    background-color: #FF6464;
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  #projects {
    margin: 80px 20px 0;
    background-color: #EDF7FA;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
  }
  
  .projectsTitle {
    font-size: 35px;
  }
  
  .projectsCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  }
  
  #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
  
  }  
}

